<DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <form action="/add_stuff" method="post">
      <label for="model">Model:</label>
      <input type="text" id="model" name="model">
      <label for="BikeID">BikeID:</label>
      <input type="text" id="BikeID" name="BikeID">
      <label for="MakerID">MakerID:</label>
      <input type="text" id="MakerID" name="MakerID">
      <label for="Topspeed">Topspeed:</label>
      <input type="text" id="Topspeed" name="Topspeed">
      <label for="Cost">Cost:</label>
      <input type="text" id="Cost" name="Cost">
      <label for="  `">Description:</label>
      <input type="text" id="Description" name="Description">
      <input type="submit" value="Submit">
    </form>
  </body>