<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Bikes</title>
  </head>
  <body class="w3-container">
    <header class="w3-container w3-padding-32">
      <h1>Bikes</h1>
      <li><a href="/">Home   </a>
        <a href="{{ url_for('add_form') }}">Add New Bike   </a>
        <a href="{{ url_for('delete_form') }}">Remove a Bike   </a></li>
    </header>
    <table>
      <tr>
        <th>BikeID</th>
        <th>Model</th>
      </tr>
      {% for Model in results %}
      <tr>
        <td>{{ Model[0] }}</td>
        <td>{{ Model[1] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% block body %}
    {% endblock %}
  </body>
</html>